{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--{{ text }}-->
    <div class="container">
      <h1 id="app">Crypto Tracker</h1>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">LOGO</th>
                <img src="{% static 'images/logo.png' %}">
              <th scope="col">NAME</th>
              <th scope="col">ABBR</th>
              <th scope="col">BINANCE LAST PRICE IN USD</th>
              <th scope="col">COINBASE LAST PRISE IN USD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                  <img src="{% static 'images/img.png' %}">
              </th>
              <td >Bitcoin</td>
              <td >BTC</td>
              <td id="btc"></td>
              <td id="cbtc"></td>
            </tr>
            <tr>
              <th scope="row">
                  <img src="{% static 'images/img_1.png' %}">
              </th>
              <td >Ethereum</td>
              <td >ETH</td>
              <td id="eth"></td>
              <td id="ceth"></td>
            </tr>
            <tr>
              <th scope="row">
                  <img src="{% static 'images/img_2.png' %}">
              </th>
              <td >Cardano</td>
              <td scope="row">ADA</td>
              <td id="ada"></td>
              <td id="cada"></td>
            </tr>
            <tr>
              <th scope="row">
                 <img src="{% static 'images/img_3.png' %}">
              </th>
              <td >Dogecoin</td>
              <td >DOGE</td>
              <td id="doge"></td>
              <td id="cdoge"></td>
            </tr>
            <tr>
              <th scope="row">
                 <img src="{% static 'images/img_4.png' %}"></th>
              </th>
              <td >Bitcoin Cash</td>
              <td >BCH</td>
              <td id="bch"></td>
              <td id="cbch"></td>
            </tr>
            <tr>
              <th scope="row">
                  <img src="{% static 'images/img_5.png' %}">
              </th>
              <td >Litecoin</td>
              <td >LTC</td>
              <td id="ltc"></td>
              <td id="cltc"></td>
            </tr>
            <tr>
              <th scope="row">
                  <img src="{% static 'images/img_6.png' %}">
              </th>
              <td >Cosmos</td>
              <td >ATOM</td>
              <td id="atom"></td>
              <td id="catom"></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Binance Exchange</h2>
                <h4>Order Form: Buy</h4>
                <form action="{%url 'buy'%}" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="PLACE BUY ORDER">
                </form>
                <h4>Order Form: Sell</h4>
                <form action="{%url 'sell'%}" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="PLACE SELL ORDER">
                </form>
            </div>
            <div class="col-md-4 offset-md-4">
                <h2>Coinbase Exchange</h2>
                <h4>Order Form: Buy</h4>
                <form action="{%url 'buycb'%}" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="PLACE BUY ORDER">
                </form>
                <h4>Order Form: Sell</h4>
                <form action="{%url 'sellcb'%}" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="PLACE SELL ORDER">
                </form>
            </div>
        </div>
    </div>

<h4>{{error}}</h4>



  <div class="container">
      <div class="row">
          <div class="col-md-4">
                <div id="my_balances">
                    <h2>My Binance Balances</h2>
                       <table>
                        {% for i in my_balances %}

                            <tr>
                                <td>
                                    {{ i.asset }}
                                </td>
                                <td>
                                    {{ i.free }}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
          </div>
          <div class="col-md-4 offset-md-4">
              <div id="my_balancescb">
                  <h2>My Coinbase Balances</h2>
                    <table>
                        {% for j in my_balancescb%}
                            <tr>
                                <td>
                                    {{ j.currency }}
                                </td>
                                <td>
                                    {{ j.available }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
              </div>
          </div>
      </div>
  </div>



    <div>
        {{my_balances}}
    </div>
    <script src="{% static 'main.js' %}"></script>
    <div>
       {{ current_data }}
    </div>

    <hr style="width:50%;text-align:left;margin-left:0">

    <div>
        {{my_balancescb}}
    </div>

</body>
</html>







